<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Zawaj{% endblock %}</title>

    {% block stylesheets %}

    {% endblock %}

</head>

<body>
test

</body>
</html>
